.date {
    font-family: 'Roboto Condensed', sans-serif;
}

.name {
    font-family: 'Oswald', sans-serif;
}

.text-center {
    font-family: 'Oswald', sans-serif;
}

.collapse {
    background-color: black;
    border-radius: 5px;
}

.gallerybutton a {
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
}

.gallerybutton a:hover {
    background-color: #FFFFFF;
    color: #000000;
}

#first {
    margin-right: -152px;
}