#container {
    background-color: #1BA7FF;
}


#headbody {
    display: flex;
    padding: 80px;
}

#headbodyleft {
    width: 70%;
}

#headbodyleft>h1 {
    color: white;
    text-align: center;
    font-size: 50px;
}

#headbodyleft>p {
    color: white;
    font-size: 22px;
    line-height: 1.8;
    display: flex;
    justify-content: center;
}

#headbodyright {
    width: 55%;
    margin-top: 20px;
    padding-left: 200px;
}

#headbodyright>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pic1>img {
    width: 380px;
}

#pic2>img {
    width: 380px;
}

#container2 {
    background-color: #7B0E0E;
    border-bottom: 2px solid #AB1602;
}

#headbody2 {
    display: flex;

}

#bodyleft {
    width: 60%;
    margin-top: 40px;

}

#pic3 {
    padding-right: 200px;
}

#pic3>img {
    width: 350px;
}

#pic4 {
    padding-right: 150px;
}

#pic4>img {
    width: 450px;
}

#bodyright {
    width: 50%;
    margin-top: 20px;

}

#bodyright>h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

#bodyright>p {
    color: white;
    font-size: 22px;
    line-height: 1.8;
    display: flex;
    justify-content: center;

}

#bodyleft>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container3 {
    background-color: #7B0E0E;
}


@media screen and (max-width: 1000px) {
    #headbodyleft {
        width: 80%;
    }

    #headbodyleft>h1 {
        font-size: 46px;
    }

    #headbodyleft>p {
        font-size: 18px;
    }

    #headbodyright {
        width: 55%;
        margin-top: 150px;

    }



    #pic1>img {
        width: 320px;
    }

    #pic2>img {
        width: 320px;
    }


    #bodyleft {
        width: 60%;
        margin-top: 40px;

    }


    #pic3>img {
        width: 280px;
    }


    #pic4>img {
        width: 380px;
    }

    #bodyright {
        width: 50%;
        margin-top: 20px;

    }

    #bodyright>h1 {
        font-size: 46px;

    }

    #bodyright>p {
        font-size: 18px;

    }



}


@media screen and (max-width: 600px) {

    #headbody,
    #headbody2 {
        display: block;
        padding: 50px;
    }

    #headbody2 {
        display: flex;
        flex-direction: column-reverse;
    }

    #headbodyleft,
    #headbodyright {
        width: 100%;

    }

    #headbodyleft {
        padding-right: 0px;

    }

    #headbodyleft>p {
        margin-left: 0px;
        width: 98%;

    }


    #headbodyright {
        display: flex;
        padding-left: 0;
    }

    #pic1 {
        width: 150px;

    }

    #pic2 {
        width: 150px;

    }

    #bodyright {
        width: 105%;
        padding-left: 0;
    }

    #bodyright>h1 {
        padding-right: 0;

    }

    #bodyright>p {
        width: 100%;
    }

    #bodyleft {
        margin-left: 100px;


    }
}