#container {
    background-color: #1ba7ff;
    text-align: center;
    height: 600px;
}

.titlescreen {
    text-align: center;
    padding-top: 70px;
}

.titlescreen>img {
    width: 700px;
}

.button {
    padding-top: 90px;
}

.button1 {
    padding-top: 60px;
}

.btn0 {
    background: #0a87ce;
    color: #ffffff;
    border-radius: 20px;
    text-decoration: none;
    padding: 20px 20px;
}

#container2 {
    background-color: #7B0E0E;
    border-bottom: 2px solid #AB1602;
}


#doublebox {
    padding: 100px;
    top: 100px;
    left: 60px;
    display: flex;
}

#box1 {
    color: #ffffff;
    font-size: 27px;
    width: 850px;
    height: 500px;
    text-align: center;
    background: #0e7b45;
    border: 3px solid #05b15c;
}

#box2 {
    left: 100px;
    color: #ffffff;
    font-size: 27px;
    width: 850px;
    height: 500px;
    text-align: center;
    background: #ae1212;
    border: 3px solid #ff0606;
    margin-left: 500px;
}

#box1>img {
    width: 170px;
}

#box2>img {
    width: 170px;
}


#singlebox {
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

#box3 {
    color: #ffffff;
    font-size: 27px;
    width: 400px;
    height: 500px;
    text-align: center;
    background: #0e457b;
    border: 3px solid #6a38f9;
}

#box3>img {
    width: 170px;
}

.btn1 {
    background: #921111;
    color: #ffffff;
    border-radius: 20px;
    text-decoration: none;
    padding: 20px 20px;
}

#container3 {
    background-color: #7B0E0E;
}

@media screen and (max-width: 1360px) {
    #from {
        width: 95%;
    }

    #box1 {
        width: 380px;
    }

    #box2 {
        width: 380px;

    }

    #box2>p {
        margin-left: 5px;
    }

    @media screen and (max-width: 1000px) {
        .titlescreen>img {
            width: 500px;
        }

        #doublebox {
            padding: 100px;
            top: 100px;
            display: flex;

        }

        #box1 {
            font-size: 18px;
            height: 500px;
            width: 200px;
        }

        #box1>img {
            width: 130px;
        }

        #box2 {
            font-size: 18px;
            width: 200px;
            height: 500px;
            margin-left: 200px;
        }

        #box2>img {
            width: 130px;
        }

        #all {
            margin-top: 20px;
        }


        #singlebox {
            padding-bottom: 80px;
            display: flex;
            justify-content: center;
        }

        #box3 {
            font-size: 22px;
            width: 300px;
            height: 500px;

        }

        #box3>img {
            width: 130px;
        }

        .btn1 {
            margin-top: 280px;
        }



    }



    @media screen and (max-width: 600px) {
        #doublebox {
            padding: 20px 0px 20px 17px;
            flex-direction: column;

        }

        .titlescreen>img {
            width: 350px;
        }

        #box1 {
            padding: 0;
            margin: 0;
            height: 470px;
            width: 336px;
            margin-bottom: 20px;
            font-size: 20px;
        }

        #box1>img {
            padding-top: 30px;
            width: 170px;
        }


        #box2 {
            padding: 0;
            margin: 0;
            height: 470px;
            width: 336px;
            font-size: 20px;
        }

        #box2>img {
            padding-top: 30px;
            width: 170px;
        }

        #box2>p {
            padding-top: 45px;
        }

        #singlebox {
            margin-left: 0px;
        }

        #box3 {
            padding: 0;
            margin: 0;
            height: 470px;
            width: 336px;
            font-size: 20px;
        }

        #box3>img {
            padding-top: 26px;
            width: 170px;
        }

        #box3>p {
            padding-top: 22px;
        }

        #from {
            margin-top: -30px;
        }

        #learn {
            margin-top: -20px;
        }




    }