body {
    padding: 0;
    margin: 0;
}

#logo {
    padding-left: 75px;
    padding-top: 10px;

}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

#header a {
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#header a:hover {
    background-color: #ffffff;
    color: #0a87ce;
}

.topnav {
    margin-right: 75px;
}

#container {
    background-color: #1ba7ff;
    text-align: center;
    height: 600px;
}

.titlescreen {
    text-align: center;
    padding-top: 90px;
}

#navlink {
    padding-right: 75px;

}

.button {
    padding-top: 90px;


}

.btn0 {
    background: #0ab7ce;
    color: #ffffff;
    border-radius: 20px;
    text-decoration: none;
    padding: 20px 20px;
}

#container2 {
    background-color: #7e0e0e;
    border-bottom: 2px solid #AB1602;
}

#doublebox {
    padding: 100px;
    top: 100px;
    left: 60px;
    display: flex;
}

#box1 {
    color: #ffffff;
    font-size: 24px;
    width: 650px;
    height: 500px;
    text-align: center;
    background: #0e7b45;
    border: 1px #05b15c;
}

#box2 {
    left: 100px;
    color: #ffffff;
    font-size: 24px;
    width: 650px;
    height: 500px;
    text-align: center;
    background: #ae1212;
    border: 1px #ff0606;
    margin-left: 500px;
}

#mario {
    padding-bottom: 10px;
}


#mushroom {
    padding-left: 10px;
    padding-top: 5px;

}

#singlebox {
    padding-bottom: 10px;
    padding-left: 550px;
}

#box3 {
    color: #ffffff;
    font-size: 24px;
    width: 390px;
    height: 500px;
    text-align: center;
    background: #0e457b;
    border: 1px #6a38f9;
}

.btn1 {
    background: #921111;
    color: #ffffff;
    border-radius: 20px;
    text-decoration: none;
    padding: 20px 20px;
}

.buttonham {
    font-size: 17px;
    padding: 16px 5px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#hamburger {
    display: none;
    align-items: center;
}

#container3 {
    background-color: #7B0E0E;
}

#footer {
    display: flex;
    padding: 50px;
}

#footerleft h2 {
    color: white;
    font-size: 44px;
}

#footerleft p {
    color: white;
    font-size: 30px;
}

#contact {
    margin-top: 80px;

}

#menu {
    display: flex;
    align-items: center;
}

.buttonham {
    font-size: 17px;
    padding: 16px 5px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#hamburger {
    display: none;
    align-items: center;
}

@media screen and (max-width: 600px) {
    #hamburger {
        display: block;
        z-index: 1;
        color: white;
    }

    #menu {
        display: none;
        background-color: black;
        text-align: center;
        width: 100%;
        height: 100%;

    }

    #menu>div {
        margin-top: 30px;
    }

    #menu.responsive {
        position: absolute;
        display: flex;
        top: 0;
        left: 0px;
        height: 100%;
        z-index: 1;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .buttonham {
        border: 1px solid #c3c3c3;
    }
}