 #container {
     background-color: #1BA7FF;
 }



 #headbody>h1 {
     color: white;
     text-align: center;
     font-size: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 #headbody>p {
     color: white;
     font-size: 22px;
     line-height: 1.8;
     display: flex;
     justify-content: center;
     width: 100%;
 }

 #headbody {
     padding: 80px 280px;
 }

 #container2 {
     background-color: #7B0E0E;
     border-bottom: 2px solid #AB1602;
 }

 .content {
     width: 35%;
     margin: 8px;
     padding: 50px;
     text-align: center;
 }

 .content>img {
     width: 400px;
 }

 .row {
     display: flex;
     justify-content: space-around;
     padding-top: 30px;
 }

 .content h1 {
     color: white;
 }

 .content h2 {
     color: white;
 }

 .content p {
     color: white;
 }

 .contend {
     display: flex;
     align-items: center;
     text-align: left;
     font-size: 22px;
 }

 #container3 {
     background-color: #7B0E0E;
 }

 @media screen and (max-width: 1000px) {
     #headbody>h1 {
         font-size: 46px;
     }

     #headbody>p {
         font-size: 18px;
         width: 97%;

     }

     .contend {
         font-size: 18px;
     }

     .content>img {
         width: 300px;
     }

     @media screen and (max-width: 600px) {

         body,
         html {
             overflow-x: hidden;
         }

         #hamburger {
             display: block;
             z-index: 1;
             color: white;
         }

         #menu {
             display: none;
             background-color: black;
             text-align: center;
             width: 100%;
             height: 100%;

         }

         #menu>div {
             margin-top: 30px;
         }

         #menu.responsive {
             position: absolute;
             display: flex;
             top: 0;
             left: 0;
             height: 100%;
             z-index: 1;
             flex-direction: column;
             justify-content: center;
             text-align: center;
             align-items: center;
         }

         .buttonham {
             margin-bottom: -15px;
         }

         #headbody {
             padding: 50px 80px;
         }

         .row {
             display: block;
             padding: 12%;
         }

         .content {
             width: 90%;
             padding: 0px;
         }

         .content>img {
             width: 200px;
         }

         #headbody {
             padding: 50px 25px;
         }
     }