 #container {
     background-color: #1BA7FF;
 }



 #headbody>h1 {
     color: white;
     text-align: center;
     font-size: 50px;
     display: flex;
     padding-left: 330px;
 }

 #headbody>p {
     color: white;
     font-size: 24px;
     line-height: 1.8;
     display: flex;
     padding-left: 205px;
     width: 52%;
 }

 #headbody {
     padding: 80px 280px;

 }

 #container2 {
     background-color: #7e0e0e;
     border-bottom: 1px solid #AB1602;
     height: 1650px;
 }

 .content {
     width: 33%;
     margin: 8px;
     padding: 50px;
     text-align: center;

 }



 h2 {
     padding-right: 30px;
 }

 .c0 {
     background: #AE1212;
     border: 3px solid #ff0606;
     padding-top: 5px;
     height: 615px;

 }

 .c0>img {
     width: 280px;
 }

 .c0>h2 {
     margin-top: -3px;
 }



 .c1 {
     background: #1B6C1B;
     border: 3px solid #05ab05;
     padding-top: 0px;
     height: 620px;
 }

 .c1>img {
     width: 380px;
     padding-left: 10px;
 }

 .c1>h2 {
     margin-top: -15px;
     padding-left: 20px;
 }

 .c1>p {
     padding-left: 55px;
 }



 .c2 {
     background: #A72E1B;
     border: 3px solid#D70404;
     padding-top: 0;
     height: 605px;

 }

 .c2>img {
     width: 320px;
 }

 .c2>h2 {
     margin-top: -14px;
 }

 .c3 {
     background: #a7611b;
     border: 3px solid #f57b00;
     padding-top: 5px;
     height: 600px;
 }

 .c3>img {
     width: 280px;
     padding-left: 10px;
 }

 .c3>h2 {
     margin-top: -13px;
     padding-left: 20px;
 }

 .c3>p {
     padding-left: 55px;
 }



 .row {
     display: flex;
     justify-content: space-around;
     padding-top: 30px;

 }

 .content>img {
     margin-right: 20px;
 }

 .content>h2 {
     color: white;
     font-size: 44px;
 }

 .content>p {
     color: white;
     font-size: 22px;
     text-align: left;
     width: 75%;
     height: 50%;
     display: flex;
     justify-content: center;
 }

 #container3 {
     background-color: #7B0E0E;
 }


 @media screen and (max-width: 1000px) {
     #headbody>h1 {
         font-size: 46px;
         margin-left: -285px;

     }

     #headbody>p {
         font-size: 20px;
         margin-left: -250px;
         width: 150%;
     }

     .content {
         margin-left: -10px;
     }

     .c0 {
         height: 615px;

     }

     .c0>img {
         width: 240px;
         margin-left: 8px;
     }



     .c1 {
         height: 620px;
     }

     .c1>img {
         width: 320px;
         margin-left: -30px;
     }

     .c1>h2 {
         margin-top: -7px;
     }

     .c2 {
         height: 605px;

     }

     .c2>img {
         width: 280px;
         margin-left: -12px;
     }

     .c3 {
         height: unset;
     }

     .c3>img {
         width: 240px;
         margin-left: 0px;
     }

     .content>h2 {
         font-size: 40px;
         margin-left: 25px;
     }

     .content>p {
         font-size: 18px;
         margin-left: -20px;


     }

     @media screen and (max-width: 1250px) {

         body,
         html {
             overflow-x: hidden;
         }
     }

     @media screen and (max-width: 600px) {

         body,
         html {
             overflow-x: hidden;
         }


         #headbody {
             padding-left: 30px;
             width: 90%;
         }

         #headbody>h1 {
             font-size: 40px;
             margin-top: -15px;
             margin-left: -240px;
         }



         #headbody>p {
             font-size: 20px;
             margin-left: -180px;
             width: 80%;

         }

         .row {
             display: block;
             padding: 20px 0px 20px 53px;
             width: 90%;
             float: none;

         }

         .row>h2 {
             display: flex;
             justify-content: center;

         }

         .row>p {
             width: 95%;
         }

         .content {
             width: 68%;
             padding-left: 0px;
             display: flex;
             flex-direction: column;
             align-items: center;
             margin-right: 10px;
         }

         .content>p {
             font-size: 20px;
             width: 85%;
             text-align: left;
             margin-left: 20px;
         }


         .content>img {
             padding-left: 80px;

         }

         .content>h2 {
             padding-left: 60px;
             margin-left: -10px;
         }

         .content>p {
             padding-left: 110px;
         }


         #container2 {
             height: 2800px;
         }

         .c0 {
             height: 550px;
         }

         .c0>img {
             width: 180px;
             margin-left: -15px;
         }

         .c1 {
             height: 700px;
         }

         .c1>img {
             width: 240px;
             margin-right: 3px;
         }

         .c2 {
             height: 480px;
         }

         .c2>img {
             width: 220px;
         }

         .c3 {
             height: 550px;
         }

         .c3>img {
             width: 180px;
         }

         img {
             padding-right: 0;

         }

         h2 {
             padding-right: 0;
         }

     }