.container div {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    flex: 2;

}

#div1 {
    justify-content: center;
    display: flex;

}



#head1 {
    width: 33%;

    border: 7px solid black;
    border-top: 0px;
    padding: 35px;
    margin: 50px;
    text-align: center;
    font-weight: 700;
}

#middle {
    display: flex;
    padding-top: 70px;
}

.div {
    font-size: 20px;
}

.div>div {
    display: flex;
    justify-content: center;
}

p {
    text-align: center;
    margin-top: 0px;
}